.card{
    display: table;
    padding: 10px;
    background-color: rgb(238, 233, 164) ;
}
.Click{
    justify-content: center;
}
.TEXT{
    justify-content: center;
    color: crimson;
    font-size: 24px;
}
img {
    border-radius: 50%;
}
.link {
    padding-left: 45%;
}

