.card{
    background-color: peru;
    padding-left: 20pt;
    justify-content: space-evenly;
    line-height: 20pt;
}
h1{
    font-family: cursive;
    font-size: 50px;
    padding-left: 67pt;
    color: lightpink;
}
